// Variables

$background-color: #fad1d9;
$container-color: white;
$search-box-color: rgb(252, 230, 234);
$search-btn-color: rgb(216, 131, 160);
$search-btn-hover-color: rgb(216, 118, 151);
$current-detail-text-color: rgb(99, 99, 99);
$humidity-and-wind-color: rgb(55, 220, 55);
$footer-text-color: gray;
$footer-link-color: rgb(248, 120, 141);

$font-fam: "Fuzzy Bubbles", sans-serif;
